* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  width: 60px;
  height: 30px;
  margin: 7px;
  border-radius: 50px;
  border: none;
  background-color: white;
  color: black;
  font-size: 12px;
}